<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<connectionStrings>
		<add name="SQL_CONN_STRING" connectionString=""/>
	</connectionStrings>
	<appSettings>
		<add key="REST_ENDPOINT_URL" value=""/>
		<add key="RESTENDPOINT_UID" value=""/>
		<add key="RESTENDPOINT_PWD" value=""/>
	</appSettings>
</configuration>